development:
  domain: localhost:3000
	site_key: put_your_site_key_here_protect_it
	username: user
	password: secret
	
test:
  domain: test.host
	site_key: put_your_site_key_here_protect_it
	
production:
  domain: example.com
	site_key: put_your_site_key_here_protect_it